// @import "_vars.sss"

.forms-checkbox
	position: relative
	margin-left: 30px

.forms__checkbox
	position: absolute 0 * * 0
	opacity: 0
	pointer-events: none

	&:checked

		~ label

			&:after
				opacity: 1

	&-label
		cursor: pointer
		display: flex
		position: relative
		user-select: none

		&:before, &:after
			content: ""
			display: inline-block

		&:before
			flex: none
			background: #fff
			border: 1px solid var(--secondColor)
			margin: 0 15px 0 0
			size: 19px

		&:after
			border: 1px solid var(--mainColor)
			border-top: none
			border-left: none
			size: 6px 10px
			transform: rotateZ(45deg)
			position: absolute 3px * * 7px
			transition: opacity .1s ease
			opacity: 0

.checkbox
	position: relative
	font-size: rem(14)

	&__input
		position: absolute 0 * * 0
		opacity: 0
		pointer-events: none

		&:checked

			+ label:after
				opacity: 1

	&__label
		user-select: none
		cursor: pointer

		&:matches(:after, :before)
			content: ""
			display: inline-block

		&:before
			border: 1px solid var(--borderColor)
			size: 25px
			margin: 0 14px 0 0
			vertical-align: middle

		&:after
			position: absolute 6px * * 9px
			size: 7px 9px
			transform: rotate(45deg)
			border-right: 1px solid var(--mainColor)
			border-bottom: 1px solid var(--mainColor)
			opacity: 0

.forms-wrap

	&--bot

		.recaptcha
			display: flex
			justify-content: center
			margin: 20px 0 0

	&--column
		margin: 0 !important

.forms
	padding: rem(70) rem(100) rem(90) !important
	overflow-x: hidden !important

	&__title, &__text
		text-align: center

	&__title
		font-size: rem(26)
		margin-bottom: 15px
		font-weight: 500

	&__text
		font-weight: 400
		font-size: 14px
		line-height: calc(22 / 14)
		margin-bottom: rem(34)

	.forms

		&__input
			border-radius: 0
			background: none
			border: 1px solid var(--borderColor)

	&__error

		&-message
			border: 1px solid #d4d4d4
			background: #fff
			color: #000
			padding: 7px 10px
			border-radius: 7px
			position: absolute
			bottom: 45px
			right: -6px
			box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1)
			transition: opacity .3s ease
			user-select: none

			opacity: 0
			pointer-events: none

			&:after
				content: ""
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAIBAMAAADU/bjBAAAAGFBMVEX////V1dXV1dXY2Nji4uL9/f3+/v7///88REMWAAAAA3RSTlMAipDLFSdbAAAAM0lEQVQI12NwKweBMgcGlXQQI0WBgQkkVObEwAAWAgowgITAAiAhsABQyBUiwMAgLAAkAJ+wDc+KWF7qAAAAAElFTkSuQmCC)
				position: absolute
				top: calc(100% - 0px)
				right: 19px
				height: 8px
				width: 15px

			&-icon
				display: block
				border-radius: 50%
				position: absolute
				border: 1px solid #ff0024
				height: 19px
				width: 19px
				background: #fff
				bottom: -32px
				right: 16px

				&:before, &:after
					content: ""
					position: absolute
					width: 1px
					background: #ff0024
					left: calc(50% - 1px)

				&:before
					top: 4px
					height: 8px

				&:after
					bottom: 4px
					height: 2px

	&__input
		size: 100% 50px
		border: none
		padding: 0 17px
		border-radius: 14px
		background: var(--secondColor)

		&-cont
			position: relative

			&:not(:last-child)
				margin-bottom: 12px

		&:focus
			border-color: var(--mainColor)

		&-cont
			display: flex
			flex-direction: column-reverse

		&[required] ~ label

			&:after
				content: "*"
				display: inline-block
				color: red

		&--error:not(:valid), &_error
			border-color: red !important

			~ .forms__error-message
				opacity: 1

			&:focus

			~ .forms__error-message
				opacity: 0

		&:focus
			border-color: var(--mainColor) !important

		&--select
			padding: 0 30px 0 25px
			background: url("../img/ico-select-arrow.png") right 18px center no-repeat, #fff

		&-cont
			display: flex
			flex-direction: column-reverse
			position: relative

		&[required] ~ label

			&:after
				content: "*"
				display: inline-block
				color: red

		&--textarea
			max-width: 100%
			min-height: 120px
			resize: none

		&--file
			display: none

	&__label
		margin-bottom: 14px
		flex: none

		&--file
			position: absolute 0 0 * *
			background: url("../img/ico-view.png") center left 15px no-repeat, #f4f4f4
			cursor: pointer
			size: 51px

	&__submit
		margin: 2rem 0 0
		text-align: center

.forms-input-cont
	display: flex
	flex-direction: column-reverse
	position: relative

.forms-bot
	margin: 28px 0 0
	display: flex
	justify-content: space-between
	align-items: center

	&__links
		text-align: right

	input[type="submit"]

		&:first-child:last-child
			width: 100%

.form-links

	&__link
		color: var(--mainColor)
		border-bottom: 1px solid #d4e3f6

@media screen and (max-width: 660px)

	.fancybox-slide--html .fancybox-content
		margin: 0 !important
	
	.fancybox-slide--html
		padding: 0 !important

	.fancybox-slide::before
		margin: 0 !important