// $output-bourbon-deprecation-warnings: false;
// @import "bourbon"

// +font-face("Formular", "../fonts/Formular/formular-bold-webfont", bold, $file-formats: woff woff2)
// +font-face("Formular", "../fonts/Formular/formular-webfont", 400, $file-formats: woff woff2)
// +font-face("Formular", "../fonts/Formular/formular-light-webfont", 300, $file-formats: woff woff2)
// +font-face("Proxima Nova", "../fonts/Proxima-nova/light/proxima_nova_light", 300, $file-formats: woff)
// +font-face("Proxima Nova", "../fonts/Proxima-nova/light-italic/proxima_nova_light_italic", 300, italic, $file-formats: woff)
// +font-face("Proxima Nova", "../fonts/Proxima-nova/thin/proxima_nova_thin", 100, $file-formats: woff2 woff)
// +font-face("Proxima Nova", "../fonts/Proxima-nova/regular/proxima_nova_regular", 400, $file-formats: woff2 woff)