<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Отзывы
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		
		main#content
			.inner-content
				.title-block__cont
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									span.bread-crumbs__this Отзывы
							.title-block__title
								h1 Отзывы
				.inner-content__content
					.reviews__cont
						.wrapper
							.reviews
								each review, i in [{name: "Андрей Андреев", date: "14.08.2018", text: "Ходила покупать сыну стельки, которые врач-ортопед назначил. Продавец-консультант осмотрела на специальном аппарате стопы ребенка и подобрала нужные стельки. Была не просто продажа, а дана ещё и довольно грамотная консультация. Огромное спасибо!"}, {name: "Татьяна Семенова", date: "20.08.2018", text: "Прихожу в ОРТОЛЭНД часто, так как являюсь инвалидом 3 группы. Всегда остаюсь довольна предложенным товаром и качеством обслуживания."}, {name: "Татьяна Семенова", date: "20.08.2018", text: "Прихожу в ОРТОЛЭНД часто, так как являюсь инвалидом 3 группы. Всегда остаюсь довольна предложенным товаром и качеством обслуживания."}, {name: "Андрей Андреев", date: "14.08.2018", text: "Ходила покупать сыну стельки, которые врач-ортопед назначил. Продавец-консультант осмотрела на специальном аппарате стопы ребенка и подобрала нужные стельки. Была не просто продажа, а дана ещё и довольно грамотная консультация. Огромное спасибо!"}, {name: "Андрей Андреев", date: "14.08.2018", text: "Ходила покупать сыну стельки, которые врач-ортопед назначил. Продавец-консультант осмотрела на специальном аппарате стопы ребенка и подобрала нужные стельки. Была не просто продажа, а дана ещё и довольно грамотная консультация. Огромное спасибо!"}, {name: "Татьяна Семенова", date: "20.08.2018", text: "Прихожу в ОРТОЛЭНД часто, так как являюсь инвалидом 3 группы. Всегда остаюсь довольна предложенным товаром и качеством обслуживания."}, {name: "Татьяна Семенова", date: "20.08.2018", text: "Прихожу в ОРТОЛЭНД часто, так как являюсь инвалидом 3 группы. Всегда остаюсь довольна предложенным товаром и качеством обслуживания."}, {name: "Андрей Андреев", date: "14.08.2018", text: "Ходила покупать сыну стельки, которые врач-ортопед назначил. Продавец-консультант осмотрела на специальном аппарате стопы ребенка и подобрала нужные стельки. Была не просто продажа, а дана ещё и довольно грамотная консультация. Огромное спасибо!"}]
									.reviews__item
										.review
											.review__title
												.review__name=review.name
												.review__date=review.date
											.review__text
												.text-page
													p=review.text
							.bot-link__cont
								a.bot-link(href="#") Оставить отзыв
		include inc/footer.pug
		include inc/scripts.pug