<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Поиск по каталогу
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		
		main#content
			.inner-content
				.title-block__cont
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									span.bread-crumbs__this Поиск по каталогу
							.title-block__title
								h1 Поиск по каталогу
				.inner-content__content
					.search__cont
						.wrapper
							.search
								.search__form
									form.search-form(action="#")
										input.search-form__input(type="search" value="Компресионные гольфы")
										input.search-form__submit(type="submit" value="")
								.search__text По запросу «Компрессионные гольфы» найдено 3 позиции :
								.search__list
									.cat2.list
										- for (let i = 0; i < 4; i++)
											each title, i in ["Компрессионные гольфы",]
												.cat2__item
													.cat-item
														a.cat-item__img(href="#")
															img(src="img/photos/cat-list-item.jpg", alt=title)
														.cat-item__desc
															.cat-item__title
																a(href="#")=title
															.cat-item__price
																.cat-price 1 399 руб
															.cat-item__btns
																.cat-item__btns-primary
																	a.default-btn(href="#") В корзину
																.cat-item__btns-second
																	a.second-btn.fancybox(href="#") Заказать в один клик
														.cat-item__buy
															.cat-item__links
																a.favorite-link(href="#" title="В избранное")
																a.compare-link(href="#" title="Добавить к сравнению")
					.paginator__cont
						.wrapper
							ul.paginator
								li.paginator__arrow
									a.paginator-arrow(href="#")
								- for (let i = 1; i <= 5; i++)
									li
										if (i == 1)
											a.paginator__link.active(href="#")=i
										else
											a.paginator__link(href="#")=i
								li.paginator__arrow
									a.paginator-arrow(href="#")
		include inc/footer.pug
		include inc/scripts.pug